@page
@{ }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-size: cover;  background-image : url('/images/bg.jpg')">
    <!--here use the navigation class to show the button of add new movie-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#addMovies">Add New Movie</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row" id="allMovies">
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="addMovies">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- this class will pop up the template of add movie with close button-->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="movie Name">Movie Name</label>
                            <input type="text" class="form-control" id="movieName" aria-describedby="movieHelp" placeholder="Movie Name">

                        </div>
                        <div class="form-group">
                            <label for="movie Director Name">Movie Director Name</label>
                            <input type="text" class="form-control" id="movieDirectorName" aria-describedby="directorHelp" placeholder="Movie Director Name">

                        </div>
                        <div class="form-group">
                            <label for=" movie Language"> Movie Language</label>
                            <input type="text" class="form-control" id="movieLanguage" aria-describedby="LanguageHelp" placeholder=" Movie Language">

                        </div>
                        <div class="form-group">
                            <label for=" movie Type"> Movie Type</label>
                            <input type="text" class="form-control" id="movieType" aria-describedby="TypeHelp" placeholder=" Movie Type">

                        </div>
                        <div class="form-group" id="result">
                        </div>
                        <button type="button" onclick="addMovies()" class="btn btn-primary">Add Movies</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="updateMovie">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--here update class form will use for updating movie record-->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="Movie Name">Movie Name</label>
                            <input type="text" class="form-control" id="_movie_Name" aria-describedby="movieHelp" placeholder="Movie Name">
                        </div>
                        <div class="form-group">
                            <label for="Movie Director Name">Movie Director Name</label>
                            <input type="text" class="form-control" id="_movie_Director_Name" aria-describedby="directorHelp" placeholder="Director Name">
                        </div>
                        <div class="form-group">
                            <label for=" Movie Language"> Movie Language</label>
                            <input type="text" class="form-control" id="_movie_Language" aria-describedby="languageHelp" placeholder=" Movie Language">
                        </div>
                        <div class="form-group">
                            <label for=" Movie Language"> Movie Type</label>
                            <input type="text" class="form-control" id="_movie_Type" aria-describedby="TypeHelp" placeholder="Movie Type">
                        </div>
                        <div class="form-group" id="resultUpdate">
                        </div>
                        <button type="button" onclick="updateMovie()" class="btn btn-primary">Update Record</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script id="MoviesTemplate" type="text/x-jquery-tmpl">
        <div class="col-lg-3" style="margin:10px;">
            <div class="card card text-white bg-dark border-warning mb-3" style="width: 18rem; padding:20px">
                <div class="card-body">
                    <h5 class="card-title">Movie: ${movie_Name}</h5>
                    <p class="card-text">Director :  ${movie_Director_Name}</p>
                    <p class="card-text">Language : ${movie_Language}</p>
                    <p class="card-text">Type : ${movie_Type}</p>
                </div>
                <span>
                    <button class="btn btn-primary" onclick="getMovieForUpdate('${movie_ID}')" data-toggle="modal" data-target="#updateMovie">Update</button>
                    <a href="#" class="btn btn-danger" onclick="remove('${movie_ID}')">Delete</a>
                </span>
            </div>
        </div>
    </script>

    <script>
        var uri = 'api/Movie_details';
        $(document).ready(function () {
            // Gets all Movies
            $.getJSON(uri)
                .done(function (data) {
                    $("#MoviesTemplate").tmpl(data).appendTo("#allMovies");
                });
        });
        function getAllMovies() {
            $.getJSON(uri)
                .done(function (data) {
                    $("#allMovies").text("");
                    $("#MoviesTemplate").tmpl(data).appendTo("#allMovies");
                });
        }
        //this function class is use for adding movie with the help of add movie template
        function addMovies() {
            var _movie = $('#movieName').val();
            var _director = $('#movieDirectorName').val();
            var _language = $('#movieLanguage').val();
            var _type = $('#movieType').val();

            var Movie = {
                movie_Name: _movie,
                movie_Director_Name: _director,
                movie_Language: _language,
                movie_Type: _type
            };
            //if their is any probelm to add movie it will show the pop up message (error occurd)
            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(Movie),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Success");
                getAllMovies();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("An error occured when Adding the movie record.");
            });
        }
        function getMovieForUpdate(id) {
            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {
                $('#_id').val(response.movie_ID);
                $('#_movie_Name').val(response.movie_Name);
                $('#_movie_Director_Name').val(response.movie_Director_Name);
                $('#_movie_Language').val(response.movie_Language);
                $('#_movie_Type').val(response.movie_Type);
            });
        }
        //add update movie funcion to update movie which catch info from update movie template
        function updateMovie() {
            var _movie = $('#_movie_Name').val();
            var _director = $('#_movie_Director_Name').val();
            var _language = ($('#_movie_Language').val());
            var _type = $('#_movie_Type').val();

            var Movie = {
                movie_ID: parseInt($('#_id').val()),
                movie_Name: _movie,
                movie_Director_Name: _director,
                movie_Language: _language,
                movie_Type: _type
            };
            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#_id').val(),
                data: JSON.stringify(Movie),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Success");
                getAllMOvies();
            }).fail(function (jqXHR, textStatus) {
                $("#resultUpdate").html("An error occured When updating Movie");
            });;
        }
        // this function will help to delete movie
        function remove(id) {
            var yes = confirm("Are you sure you want to delete this Movie?");
            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,
                }).done(function (response) {
                    getAllMovies();
                });
            }
        }

    </script>

</body>
</html>

